body
    font-family Noto Sans,Helvetica Neue,Helvetica,Arial,sans-serif

h1, h2, h3
    font-family Noto Serif,Helvetica Neue,Helvetica,Arial,sans-serif


.small-input
    padding 3px 6px
    height auto

.extra-maps-app
    table tr td
        vertical-align middle

.extra-maps-author-list
    height 400px
    overflow-y scroll
